<div class='cube'>
    <img class='cube' src='{{imageUrl}}' />
    <p class='name'>
        {{name}}
    </p>
    <p>
        <span>
            Difficulty level:
        </span>
        {{difficultyLevel}}
    </p>
    <a class='btn' href='/details/{{_id}}'>
        Details
    </a>
    {{#if isOwner}}
        <a class='btn' href='/attach/accessory/{{_id}}'>
            Accessories
        </a>
    {{/if}}
</div>